body{
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #707070;
    }
div {
    box-sizing: border-box;
}
.Name{
    color:#707070 ;
    height: 25px;
    font-size: 25px;
    font-weight: 700;
}
.profession{
    margin: 15px 0;
    color: #707070;
    font-size: 20px;
    font-weight: 600;
}
.info{
    display: block;
    margin: 15px 0 0 0 ;
}
.Phonenumber{
    display: block;
}

.avatar{

    height: 260px;
    width: 260px;
    margin: 45px auto;
    border-radius: 5px;
}
.About_me{
    position: absolute;
    width: 500px;
    height: 150px;
    left: 400px;
    top: 165px;
}
.titleAboutMe {
    background: orange;
    color: #7B68EE;
    font-size: 20px;
    width: 100px;
    font-weight: 700;

}
.descriptionAboutMe{
    width: 500px;
    height: 125px;
    font-size: medium;
    margin: 15px 0;
}
.Education{
    position: absolute;
    width: 500px;
    height: 150px;
    left: 400px;
    top: 300px;
}
.titleEducation{
    background: orange;
    color: #7B68EE;
    font-size: 20px;
    width: 100px;
    font-weight: 700;
}
.descriptionEducation{
    margin: 15px 0;
    width: 500px;
    height: 125px;
    font-size: medium;
}
.Experience{
    position: absolute;
    width: 500px;
    height: 150px;
    left: 400px;
    top: 450px;
}
.titleExperience{
    background: orange;
    color: #7B68EE;
    font-size: 20px;
    width: 120px;
    font-weight: 700;
}
.descriptionBlok{
    margin: 0;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50px;
}
.descriptionBlokOne{
    margin: 40px 0;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50px;
}
.descriptionBlokTwo{
    margin: 40px 0;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50px;
}
.Reference{
    position: absolute;
    width: 500px;
    height: 150px;
    top:450px;
}
.titleReference{
    background: orange;
    color: #7B68EE;
    font-size: 20px;
    width: 100px;
    font-weight: 700;
}
.descriptionReference{
    margin: 40px 0;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50px;
}
.ref_one{

    font-size: 20px;
    width: 50px;
    font-weight:50px;
    float: left;

}
.ref_two{
    font-size: 20px;
    width: 50px;
    font-weight:50px;
    float: right;

}
.Skills{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    right: 400px;
}
.titleSkills{
    background: orange;
    color: #7B68EE;
    font-size: 20px;
    width: 100px;
    font-weight: 700;
}
h3{
    margin: 20px 0;
    width: 20px;
    height: 25px;
    font-size: medium;
    top: auto;
}
.blokOne{
    background:#707070;
    border: white;
    color: #707070;
    font-size: 20px;
    width: 50px;
    font-weight:50px;
    float: left;
    border: groove;
}
.BlokTwo{
    float: left;
    width: auto;
    border: groove;
    /*border-color: #707070 ;*/
    font-size: 20px;
    width: 100px;
    font-weight: 100px;
    color:white;
}
.Software{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 450px;
}
.titleSoftware{
    background: orange;
    color: #7B68EE;
    font-size: 20px;
    width: 100px;
    font-weight: 700;

}